.main-header {
  margin: auto;
  text-align: center;
  color: #66fcf1;
  font-weight: bold;
  font-size: 75px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: bold;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  background-color: #0b0c10;
}
.alpha {
  color: #0b0c10;
  background-color: white;
  margin top: 200px
  ;
}