.main-header {
  color: #66fcf1;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  margin-top: 60px;
}
body {
  background-image: url(https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  font-family: "Playfair Display", serif;
}
.alpha {
  color: #0b0c10;
  background-color: white;
  margin-top: 100px;
  text-align: center;
  font-size: 35px;
}
.container